[submodule "token-bound-accounts"]
	path = token-bound-accounts
	url = git@github.com:vechainfoundation/token-bound-accounts.git
[submodule "account-abstraction"]
	path = account-abstraction
	url = git@github.com:vechainfoundation/account-abstraction.git
[submodule "hardhat-plugins"]
	path = hardhat-plugins
	url = git@github.com:vechainfoundation/hardhat-plugins.git
[submodule "bundler"]
	path = bundler
	url = git@github.com:vechainfoundation/4337-bundler.git
